@model ProjetoIntegrador.Models.Lembrete

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes do lembrete</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.data)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.data)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.texto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.texto)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Editar</a> |
    <a asp-action="Index">Voltar a listagem de lembretes</a>
</div>
